<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!--link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <nav>
      <ul><li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/eat">Dove mangiare</a></li>
        <li><a href="/stay">Dove dormire</a></li></ul></nav>     
    <div class="container">{{ content }}</div><footer>
    <ul>Barbara e Giada
      </ul>
    </footer>
  </body>
</html>
